.button {
  height: 4.5rem;
  width: 4.5rem;
  margin-left: .25rem;
  margin-right: .25rem;
  margin-bottom: 1rem;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  transition: background-color 0.3s, border-color 0.3s;

  & > .text {
    display: inline-block;
  }
}

.button:nth-child(1),
.button:nth-child(5),
.button:nth-child(9) {
  margin-left: .75rem;
}

.button:nth-child(4),
.button:nth-child(8),
.button:nth-child(12) {
  margin-right: .75rem;
}

.hovered,
.selected {
  background-color: #21a1f1;
}
