:root {
    --button-bg-color: #fff;
    --button-text-color: #000;
    --button-hover-bg-color: #777;
}

.button {
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border-radius: 8px;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    width: fit-content;
    transition: .2s linear;
}

.button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed !important;
}

.button.primary {
    font-weight: 500;
    padding: 1rem 2rem;
}

.button.primary:hover {
    background-color: var(--button-hover-bg-color);
}

.button.primary:focus,
.button.primary:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.button.secondary {
    font-weight: 400;
    padding: .5rem 1rem;
    opacity: .75;
    margin: .5rem;
}

.button.secondary:hover {
    background-color: var(--button-hover-bg-color);
}

.button.secondary:focus,
.button.secondary:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    .button {
        color: var(--button-bg-color);
        background-color: var(--button-text-color);
    }
}