input {
    width: 80%;
    margin: .5rem;
    padding: 1rem;
    color: var(--foreground-color);
    background-color: var(--background-color);
    border: .5px solid var(--foreground-color);
    border-radius: .25rem;
    outline: none;
    text-transform: uppercase;
    transition: .2s linear;

    &:focus {
        box-shadow: -5px -5px 0px whitesmoke;
    }
}

@media (prefers-color-scheme: light) {
    input {
        color: var(--background-color);
        background-color: var(--foreground-color);
        border: .5px solid var(--background-color);

        &:focus {
            box-shadow: -5px -5px 0px black;
        }
    }
}