@import 'tailwindcss';

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-size: 1em;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #3498dbcc;

  &:hover {
    text-decoration: underline;
    color: #3498db;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #242424;
    background-color: rgba(255, 255, 255, 0.87);
  }
}

@media (max-width: 1023px) {
  :root {
    font-size: 1em;
  }

  #root {
    min-width: 400px;
    width: 400px;
  }
}

@media (min-width: 1472px) {
  :root {
    font-size: 1.25em;
  }
}

@media (min-width: 1920px) {
  :root {
    font-size: 1.5em;
  }
}

@media (min-width: 2368px) {
  :root {
    font-size: 2em;
  }
}